{% extends 'base.html.twig' %}

{% block body %}

    <div class="menu">

        <h1>{{ annonceName }}</h1>

        <a href="{{ path('annonces') }}"><button type="button" class="btn btn-outline-primary">Annonces</button></a>

        {% for annonce in annonces %}
            <h5>{{ annonce.name }}</h5>
            <p>Prix : {{ annonce.price }} €</p>
            <p>Description : {{ annonce.description }}</p>
            <p>par <a href="{{ path('user', {username: annonce.user.username}) }}">{{ annonce.user.username }}</a></p>
        {% endfor %}

    </div>

{% endblock %}