{% extends 'base.html.twig' %}

{% block body %}

    <div class="menu">

        <h1>{{ user.username }}</h1>

        <a href="{{ path('annonces') }}"><button type="button" class="btn btn-outline-primary">Annonces</button></a>

        {% for annonce in user.annonce %}
            <h5>{{ annonce.name }}</h5>
            <p>Prix : {{ annonce.price }} €</p>
            <p>Description : {{ annonce.description }}</p>
        {% endfor %}

    </div>

{% endblock %}